*.cfg
*.ddp
~*
~*.*
*.bak
*.dof
*.0*
*.upx
*.~*

*.exe
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx

*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
PC_EKKA.ini
ErrorLog.txt

__history/
__recovery/